<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Navbar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">       
        <link 
        href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
        rel="stylesheet"  type='text/css'>  
        

    </head>

    <body>
        <header>
            <a class="logo" href="/"><img src="images/logo.svg" alt="logo"></a>
            <nav>
                <ul class="nav__links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Code</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
            <a class="cta" href="#">Contact</a>
        </header>

        <div class="hero-image">
            <div class="hero-text">
              <h3>Agricultural Project</h3>
              <h1>Famers Handbook</h1>
            </div>
        </div>

        <div class="container">
            <div class="card">
                <a href="https://www.w3docs.com/">
                    <span class="link"></span>


                <div class="face face1">
                    
                    <div class="content">
                        <img src="/static/styles/images/sprout.png"/>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <h3>
                            FEATURES
                        </h3>
                        <p>This is where I network and build my professional protfolio.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                
                <a href="/form">
                    <span class="link"></span>

                <div class="face face1">
                    <div class="content">
                        <img src="/static/styles/images/b1.jpeg"/>
                        
                    </div>
                </div>
                <div class="face face2">
                    
                    <div class="content">
                        <h3>
                            PREDICTION
                        </h3>
                        <p>This is where I read news and network with different social groups.</p>
                    </div>
                </div>
            </div>
            <div class="card">
               
                
                <a href="https://datastudio.google.com/s/msTpfsa52TY">
                    <span class="link"></span>

                <div class="face face1">
                    <div class="content">
                        <img src="images/pic2.jpg" alt="">
                    </div>
                </div>
                <div class="face face2">
                    
                    <div class="content">
                        <h3>
                            DASHBOARD
                        </h3>
                        <p>This is where I share code and work on projects.</p>
                    </div>
                </div>
            </div>
        </div>


        
        <footer>
            <div class="footer-content">
                <h3>Agriculture project</h3>
                <p>Somthing about your project and expalin the main them of the project and main points of the project</p>
                <ul class="socials">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube" aria-hidden="true" ></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true" ></i></a></li>
                </ul>
            </div>

            <div class="footer-bottom">
                <p>copyright &copy;2020 famer's Amigo. designed by <span>mohan sai mandalapu</span></p>
            </div>
        </footer>

    </body>
</html>


